.App{
  margin : 50px;
  text-align: center;
}

h1.mainHeading{
  font-size: 58px;

}

.searchContainer{
  text-align:  center;
  margin :  20px;
}

.searchInput{
  margin : 10px;
  width : 50%;
  border-radius: 15px ;
  outline:  none ;
  text-align: center ;
  height: 40px;
  font-size : 20px;
}

.checkBox{
  font-size: 20px;
}

.nameHeading{
   font-size: 35px;
   color: grey;
}

.priceHeading{
  font-size: 35px;
  color : grey ;
}

.category{
  font-size : 28px;
  text-decoration: underline;
}
.outOfStock{
  color: red ;
}