.App{
  margin : 45px;
  text-align: center;
}

h1.mainHeading{
  font-size: 53px;

}

.searchContainer{
  text-align:  center;
  margin :  20px;
}

.searchInput{
  margin : 7px;
  width : 50%;
  border-radius: 15px ;
  outline:  none ;
  text-align: center ;
  height: 40px;
  font-size : 20px;
}

.checkBox{
  font-size: 17px;
}

.nameHeading{
   font-size: 30px;
   color: grey;
}

.priceHeading{
  font-size: 30px;
  color : grey ;
}

.category{
  font-size : 24px;
  text-decoration: underline;
}

Col.rowPrice{
  font-size: 25px;
}

Col.rowTitle{
  font-size: 25px;
}

.outOfStock{
  color: red ;
}