.App{
  margin : 40px;
  text-align: center;
}

h1.mainHeading{
  font-size: 53px;

}

.searchContainer{
  text-align:  center;
  margin :  20px;
}

.searchInput{
  margin : 7px;
  width : 50%;
  border-radius: 15px ;
  outline:  none ;
  text-align: center ;
  height: 40px;
  font-size : 20px;

}

.checkBox{
  font-size: 17px;
}

.namePriceRow{
  margin : 45px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-flow : row nowrap ;
 }

.nameHeading{
   font-size: 30px;
   color: black;
}

.priceHeading{
  font-size: 30px;
  color :black ;
}

.category{
  font-size : 24px;
  text-decoration: underline;
}

.row{
  display : flex ;
  flex-flow: row nowrap ;
  justify-content: space-around ;
  font-size: 20px;
}

.outOfStock{
  color: red ;
}

hr { 
  display: block;
  width: 70% ; 
  margin-left: auto;
  margin-right: auto;
  /* border-width: 4px; */
  border: 1px solid black;
  color: black;
  background-color : black ;
}